body {
    margin: 20px;
}

p {
    padding-bottom: 0;
}

div {
    padding: 10px;
}

input {
    width: 75%;
}

textarea {
    width: 75%;
    height: 200px;
}

button {
    margin-top: 15px;
}